@model GS.Trade.DataBase.Model.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Account</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alias)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alias)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TradePlace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TradePlace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StrKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StrKey)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
