@model GS.Trade.TimeSeries.FortsTicks.Model.SrcFile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutFortsTicks.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SrcFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
