@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="content-wrapper">
        <div class="float-left">
            @*<p class="site-title">
                    <a href="~/">Home</a>
                </p>*@
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            @*<hgroup class="title">
                <h5><b>@ViewBag.FullTitle</b></h5>
            </hgroup>*@
            @*<strong>@ViewBag.FullTitle</strong>*@
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @*<h5>@ViewBag.Id</h5>
            <h5>@ViewBag.ChartType</h5>*@
        @*<div>*@
            <table class="table">
                <tr>
                    <th>Account</th>
                    <th>Symbol</th>
                    <th>Ticker</th>
                    <th>Strategy</th>
                    <th>TimeInt</th>
                    <th>Search</th>
                    <th>LastDay</th>
                    <th>Profit</th>
                </tr>
                <tr>
                    <td>@ViewBag.Account</td>
                    <td>@ViewBag.Symbol</td>
                    <td>@ViewBag.Ticker</td>
                    <td>@ViewBag.Strategy</td>
                    <td>@ViewBag.TimeInt</td>
                    <td>@ViewBag.SearchString</td>
                    <td>@ViewBag.LastDayChecked</td>
                    <td>@ViewBag.Profit</td>
                </tr>
            </table>
        @*  </div> *@
        <strong>
            @Html.ActionLink("IntraDay", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 10
            }, null)
            @Html.ActionLink("Daily", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 1
            }, null)
            @Html.ActionLink("Weekly", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 2
            }, null)
            @Html.ActionLink("Monthly", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 3
            }, null)
            @Html.ActionLink("Quarterly ", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 4
            }, null)
            @Html.ActionLink("Annualy", "Chart", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = 5
            }, null)
            <span></span>
            @Html.ActionLink("Report", "Report", "Deals", new
            {
                account = ViewBag.Account,
                symbol = ViewBag.Symbol,
                ticker = ViewBag.Ticker,
                strategy = ViewBag.Strategy,
                timeInt = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                chartType = ViewBag.ChartType
            }, null)
            @Html.ActionLink("Deals", "Index", "Deals", new
            {
                accountList = ViewBag.Account,
                symbolList = ViewBag.Symbol,
                tickerList = ViewBag.Ticker,
                strategyList = ViewBag.Strategy,
                timeIntList = ViewBag.TimeInt,
                searchString = ViewBag.SearchString,
                lastDayChecked = ViewBag.LastDayChecked,
                charttype = ViewBag.ChartType
            }, null)
        </strong>
        @{ Html.RenderAction("Chart1", new
           {
               account = @ViewBag.Account,
               symbol = @ViewBag.Symbol,
               ticker = @ViewBag.Ticker,
               strategy = @ViewBag.Strategy,
               timeInt = @ViewBag.TimeInt,
               searchString = @ViewBag.SearchString,
               lastDayChecked = @ViewBag.LastDayChecked,
               charttype = @ViewBag.ChartType
           }); }

        @*<ol class="round">
                <li class="one">
                   @* <h5>Chart</h5>
                    @{ Html.RenderAction("Chart1", new { id = @ViewBag.Id, charttype = @ViewBag.ChartType }); }
                </li>
            </ol>*@
    </section>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        setTimeout(alertFunc, 60000);

        function alertFunc() {
            //alert("Hello Again");
            //console.debug("Hello from Chart Ready");
            window.location.reload();
            // setTimeout(alertFunc, 15000);
        }
    });
</script>









