@model IEnumerable<GS.Trade.DataBase.Model.Strategy>

@*@{
    ViewBag.Title = "Index";
}*@

<h3>@ViewBag.FullTitle</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Account.Key)*@
            Account
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Ticker.Key)*@
            Ticker
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Key)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticker.Code)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
