@model GS.Trade.TimeSeries.Model.BarSeries

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BarSeries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteProvider.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteProvider.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticker.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticker.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeInt.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeInt.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
