@model IEnumerable<GS.Trade.TimeSeries.FortsTicks.Model.Stat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFortsTicks.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ticker
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDT)
        </th>
        <th>
            Days
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ticker.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
