@model IEnumerable<GS.Trade.Trades.Position2>
<p>
    @Html.ActionLink("Totals", "Index")
    @Html.ActionLink("Accounts", "Accounts")
    @Html.ActionLink("Tickers", "Tickers")
    @Html.ActionLink("Strategies", "Strategies")
    @Html.ActionLink("TimeIntervals", "TimeIntervals")
</p>
<p>
    @Html.ActionLink("Accounts & Tickers", "AccountsTickers")
    @Html.ActionLink("Accounts & Tickers & Strategies", "AccountsTickersStrategies")
    @Html.ActionLink("Accounts & TimeIntervals", "AccountsTimeInts")
    @Html.ActionLink("Accounts & Tickers & TimeIntervals", "AccountsTickersTimeInts")
</p>
<p>
    @Html.ActionLink("Tickers & Strategies", "TickersStrategies")
    @Html.ActionLink("Tickers & TimeIntervals", "TickersTimeInts")
    @Html.ActionLink("Tickers & Strategies & TimeIntervals", "TickersStrategiesTimeIntervals")
</p>
<p>
    @Html.ActionLink("Eq Accounts & Tickers & Strategies", "AccountsTickersStrategiesEq")
    @Html.ActionLink("LastDay Accounts & Tickers & Strategies", "AccountsTickersStrategiesLastDay")
    @Html.ActionLink("LastDay Accounts & Tickers & Strategies & TimeInt", "AccountsTickersStrategiesTimeIntLastDay")
</p>
<h3>@ViewBag.Title</h3>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TickerCode)
        </th>
        <th>
            Strategy
        </th>
        @*<th>
            DT
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PnL)*@
            @*Closed*@
            PnL
        </th>
        @*<th>
        Opened
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.PnL2)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.FirstTradeDT)*@
            FirstTime
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.LastTradeDT)*@
            LastTime
        </th>
        @*<th>
                Count
            </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TickerKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyCodeEx)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DT.ToString("d"))
                @Html.DisplayFor(modelItem => item.DT)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnL)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.PnL3)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstTradeDT.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTradeDT.TimeOfDay)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>*@
        </tr>
    }
</table>


