@*@model IEnumerable<GS.Trade.DataBase.Model.Total>*@
           
@model PagedList.IPagedList<GS.Trade.DataBase.Model.Total>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<p>
    @Html.ActionLink("Totals", "Index") |
    @Html.ActionLink("Accounts", "Accounts") |
    @Html.ActionLink("Tickers", "Tickers") |
    @Html.ActionLink("Strategies", "Strategies") |
    @Html.ActionLink("TimeIntervals", "TimeIntervals")
</p>
<p>
    @Html.ActionLink("Accounts & Tickers", "AccountsTickers") |
    @Html.ActionLink("Accounts & Tickers & Strategies", "AccountsTickersStrategies") |
    @Html.ActionLink("Accounts & TimeIntervals", "AccountsTimeInts") |
    @Html.ActionLink("Accounts & Tickers & TimeIntervals", "AccountsTickersTimeInts")
</p>
<p>
    @Html.ActionLink("Tickers & Strategies", "TickersStrategies") |
    @Html.ActionLink("Tickers & TimeIntervals", "TickersTimeInts") |
    @Html.ActionLink("Tickers & Strategies & TimeIntervals", "TickersStrategiesTimeIntervals")
</p>
<p>
    @Html.ActionLink("Eq Accounts & Tickers & Strategies", "AccountsTickersStrategiesEq") |
    @Html.ActionLink("LastDay Accounts & Tickers & Strategies", "AccountsTickersStrategiesLastDay") |
    @Html.ActionLink("LastDay Accounts & Tickers & Strategies & TimeInt", "AccountsTickersStrategiesTimeIntLastDay")
</p>
<h5><strong>@ViewBag.FullTitle</strong> </h5>

<table class="table">
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Strategy.Account.Code)*@
            Account
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Strategy.Ticker.Code)*@
            Ticker
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Strategy.Code)*@
            Strategy
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Strategy.TimeInt)*@
            TimeInt
        </th>
       
        
        <th>
            @*@Html.DisplayNameFor(model => model.Quantity)*@
            Qty
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Price1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price2)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.PnL)*@
            P&amp;L
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PnL3)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.FirstTradeDT)*@
            FirstTradeDT
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstTradeNumber)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.LastTradeDT)*@
            LastTradeDT
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastTradeNumber)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Strategy.Account.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strategy.Ticker.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strategy.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strategy.TimeInt)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Price1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price2)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PnL)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PnL3)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FirstTradeDT)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.FirstTradeNumber)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastTradeDT)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.LastTradeNumber)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            <td>
                @Html.ActionLink("Chart", "Chart", "Deals", routeValues: new
            {
                account = item.Strategy.Account.Code,
                ticker = item.Strategy.Ticker.Code,
                strategy = item.Strategy.Code,
                timeInt = item.Strategy.TimeInt,
                charttype = 1
            }, htmlAttributes: null)
            </td>
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
